@use 'variables'
@use 'mixins'

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap')

:root
  font-family: 'Manrope', sans-serif
  font-size: variables.$Font-size-quote
  font-weight: 800
  color: variables.$light-cyan
  padding: 0
  margin: 0
  background: variables.$dark-blue
  box-sizing: border-box

//mobile

body
  margin: 0
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.main
  margin: auto 10px
  text-align: center
  padding: 10px
  box-sizing: border-box
  border-radius: 10px
  top: 200px
  min-height: 200px
  min-width: 95%
  background: variables.$dark-grayish-Blue

.advice
  &-title, &-id
    font-size: 0.5em
    padding: 5px
    color: variables.$Neon-Green

  &-button
    position: relative
    bottom: -30px
    width: 60px
    height: 60px
    border-radius: 30px
    background: variables.$Neon-Green
    border: none
    &:hover
      cursor: pointer
      @include mixins.neon-efect($color: variables.$Neon-Green )

.pattern-divider-desktop
  display: none
.pattern-divider-mobile
  display: none


// .footer
//   margin: 0 auto
//   width: 100%
//   text-align: center
//   font-size: 0.50em
//   position: absolute
//   bottom: 0
//   padding-bottom: 10px 
//   & a
//     color: variables.$Neon-Green

//media queries to dividers 

@media (min-width: 320px)
  .pattern-divider-mobile
    display: block
  .pattern-divider-desktop
    display: none

@media (min-width: 545px)
  .pattern-divider-mobile
    display: none
  .pattern-divider-desktop
    display: block

//desktop    

@media (min-width: 1024px) 
  .main
    min-width: 500px
    max-width: 500px


  
    


