
// Colors

// Primary

$light-cyan: hsl(193, 38%, 86%)
$Neon-Green: hsl(150, 100%, 66%)

// Neutral

$grayish-blue: hsl(217, 19%, 38%)
$dark-grayish-Blue: hsl(217, 19%, 24%)
$dark-blue: hsl(218, 23%, 16%)

// Typography

// Body Copy

$Font-size-quote: 28px

